[submodule "Syndra/vendor/spdlog"]
	path = Syndra/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Syndra/vendor/GLFW"]
	path = Syndra/vendor/GLFW
	url = https://github.com/ErfanMo77/glfw.git
[submodule "Syndra/vendor/imgui"]
	path = Syndra/vendor/imgui
	url = https://github.com/ErfanMo77/imgui.git
[submodule "Syndra/vendor/glm"]
	path = Syndra/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Syndra/vendor/yaml-cpp"]
	path = Syndra/vendor/yaml-cpp
	url = https://github.com/ErfanMo77/yaml-cpp.git
